<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="../../public/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../../public/css/styles.css">
</head>


<body>
    <header>
        <nav>
            <Button class="logoBtn" id="logo"></Button>
            <input type="text">

            {{#if logged_in}}
            <Button class="navBtn" id="profile"></Button>
            {{/if}}

            <Button class="navBtn" id="profile"></Button>

        </nav>
    </header>
    {{{ body }}}
</body>