<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Share My Games</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
 

</head>


<body>
    <header>
        <nav class="purple">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Logo</a>
                
           
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                
                    {{#if logged_in}}
                      <li><a href="/profile">Profile</a></li>
                      <li><a id="logout">Logout</a></li>
                      <script src="/js/logout.js"></script>
                    {{else}}
                      <li><a href="/login">Login</a></li>
                    {{/if}}
                </ul>  
                
         <form class=" hide-on-med-and-down" style="margin-left: 200px !important " id="search-bar" >
          <div class="input-field" style="max-width: 400pt;">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
            <div id="searchResults" ></div>
          </div>
            </form>
                
            </div>
        </nav>
    </header>
    <div class="#f5f5f5 grey lighten-4">
      {{{ body }}}
    </div>
</body>

