<div class="container">

<div class="flexbox row">
  
  <div id="homeHeader" class="col s12"><h1 >Top Games</h1> </div>
{{#each games as |game|}}
  
    <div class="gameCard col s3" >
      <div class="card">
        <div class="card-image">
          <img src="{{game.photo_url}}">
        </div>
        <div class="card-action">
          <a class="cardtitle" href="/game/{{game.id}}">{{game.title}}</a>
        </div>
      </div>
    </div>

  {{/each}} 
</div>

</div>

