<div class="flexbox">
{{#each games as |game|}}
  
    <div class="gameCard">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
          <a href=`/game/game.id`>This is a link</a>
        </div>
      </div>
    </div>

  {{/each}} 
</div>